/*
  File Name: style.css
  Website Name: http://comp308-tournamentbracket.herokuapp.com/
  Description: css stylings for the app
*/


body {
  padding: 50px;
  background-color: #bfb5b2;
  font-family: 'Roboto', sans-serif;
}

div.panel {
    background-color: #bfb5b2
}

a {
  color: #00B7FF;
} 

.round {
  float: left;
}
.round.r-of-4 {
  
}
.round.r-of-2 {
  margin-top: 100px;
  margin-left: 0px; 
  
}
.round.r8{
  margin-top: 100px;
  margin-left: 0px;
}
.round.r3{
  margin-top: 100px;
  margin-left: 0px;
}
.bracket-game {
  max-width: 125px;
  margin: 10px 0;
  
}
.bracket-game6 {
  max-width: 125px;
  margin: 10px 0;
  margin-top: 220px;
  
}
.bracket-game8 {
  max-width: 125px;
  margin: 10px 0;
  margin-top: 230px;
  
}
.player {
  min-width: 100px;
  border: 1px solid #AAA;
  padding-left: 10px;
    height: 100px;
  width: 100px;
}
.player.top {
  border-radius: 3px 3px 0 0;
}
.player.bot {
  border-radius: 0 0 3px 3px;
}
.player .score {
  display: inline;
  float: right;
  border-left: 1px solid #AAA;
  padding-left: 10px;
  padding-right: 10px;
  background: #EEE;
}
.player.win {
  background-color: #bfb5b2;
}
.player.loss {
  background-color: #bfb5b2;
}
.connectors {
  float: left;
  min-width: 35px;
}
.connectors.r-of-3 .top-line {
  position: relative;
  bottom: 208px;
  right: 95px;
  width: 40px;
  border: 1px solid #AAA;
}
.connectors.r-of-3 .bottom-line {
  position: relative;
  top: 1px;
  right: 95px;
  width: 40px;
  border: 1px solid #AAA;
}
.connectors.r-of-3 .vert-line {
  position: relative;
  top: -210px;
  left: -145px;
  height: 210px;
  border-right: 2px solid #AAA;
}
.connectors.r-of-3 .next-line {
  position: relative;
  top: -325px;
  left: -55px;
  width: 90px;
  border: 1px solid #AAA;
}
.connectors.r-of-4 .top-line {
  position: relative;
  top: 210px;
  width: 40px;
  border: 1px solid #AAA;
}
.connectors.r-of-4 .bottom-line {
  position: relative;
  top: 630px;
  width: 40px;
  border: 1px solid #AAA;
}
.connectors.r-of-4 .vert-line {
  position: relative;
  top: 205px;
  left: -50px;
  height: 425px;
  border-right: 2px solid #AAA;
}
.connectors.r-of-4 .next-line {
  position: relative;
  top: 1px;
  left: 40px;
  width: 90px;
  border: 1px solid #AAA;
}
.connectors.r-of-2 .top-line {
  position: relative;
  top: 110px;
  width: 40px;
  border: 1px solid #AAA;
}
.connectors.r-of-2 .bottom-line {
  position: relative;
  top: 317px;
  width: 40px;
  border: 1px solid #AAA;
}
.connectors.r-of-2 .vert-line {
  position: relative;
  top: 106px;
  left: -50px;
  height: 210px;
  border-right: 2px solid #AAA;
}
.connectors.r-of-2 .next-line {
  position: relative;
  top: -4px;
  left: 40px;
  width: 90px;
  border: 1px solid #AAA;
}
.clear {
  clear: both;
}
.squareSingle{
  width:100%;
  background-color: #e26414;
  font-size: 17px;

}

h1 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

div.player.top{
  background-color: grey;
}
div.player.bot {
  background-color: grey;
}
